.main {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.app_container {
	position: relative;
	min-height: 55rem;
	width: 26rem;
	box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.3);
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.app_container,
.app,
.result {
	border-radius: 1.5rem;
}

.app,
.result {
	position: absolute;
	color: white;
	width: 100%;
	height: 100%;
	background: #1b262c;
	backface-visibility: hidden;
}

.result {
	transform: rotateY(180deg);
}

.hr {
	width: 4rem;
	background: #537fe7;
	height: 0.25rem;
	outline: none;
	border: none;
	border-radius: 2rem;
}

/* back arrow  */
.back_arrow {
	padding: 4rem 1.25rem 0.5rem;
}

/* styling the emi info backside  */
.emi_value_wrapper,
.emi_value_container > h1,
.back_arrow_container,
.dougnut_container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.emi_value_wrapper {
	flex-direction: column;
}

.back_arrow_container {
	width: 100%;
	margin-bottom: 0.85rem;
}

.back_arrow_container {
	justify-content: flex-start;
}

.emi_value_container {
	width: 90%;
	padding: 0.85rem 1.5rem;
	background-image: url("../public/3351062.jpg");
	background-position: center;
	border-radius: 0.85rem;
}

.emi_value_container > p {
	text-align: center;
	padding: 0.25rem;
}

/* pie chart  */
.dougnut_container {
	width: 100%;
	height: 8rem;
	padding: 1rem 0;
	margin-top: 3rem;
	justify-content: space-evenly;
	box-shadow: 0 7px 5px rgba(0, 0, 0, 0.2);
}

.chart_labels > ul,
.chart_labels_value > ul {
	list-style-position: inside;
	list-style: none;
}

/* making the chart labels color grey  */
.chart_labels > ul {
	color: #b2b2b2;
}

.chart_labels > ul > li,
.chart_labels_value > ul > li {
	display: flex;
	align-items: center;
	font-size: 0.75rem;
}

.chart_labels > ul > li:nth-child(1)::before,
.chart_labels_value > ul > li:nth-child(1)::before {
	list-style-type: disc;
	content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
	color: #537fe7; /* Change the color */
	font-weight: bold; /* If you want it to be bold */
	font-size: 1.5rem;
	width: 1.5rem; /* Also needed for space (tweak if needed) */
}

.chart_labels > ul > li:nth-child(2)::before,
.chart_labels_value > ul > li:nth-child(2)::before {
	list-style-type: disc;
	content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
	color: #f5ea5a; /* Change the color */
	font-weight: bold; /* If you want it to be bold */
	font-size: 1.5rem;
	width: 1.5rem; /* Also needed for space (tweak if needed) */
}

.chart_labels > ul > li:nth-child(3)::before,
.chart_labels_value > ul > li:nth-child(3)::before {
	list-style-type: disc;
	content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
	color: #03c988; /* Change the color */
	font-weight: bold; /* If you want it to be bold */
	font-size: 1.5rem;
	width: 1.5rem; /* Also needed for space (tweak if needed) */
}

.chart_labels_value > ul > li:nth-child(1)::before,
.chart_labels_value > ul > li:nth-child(2)::before,
.chart_labels_value > ul > li:nth-child(3)::before {
	color: #1b262c;
	width: 0;
}

/* warning text  */
.warning {
	text-align: center;
	font-size: 0.75rem;
	padding: 2rem;
	color: #b2b2b2;
}

/* for small viewports  */
@media only screen and (max-width: 642px) {
	.app_container,
	.app,
	.result {
		border-radius: 0;
	}

	.app_container {
		box-shadow: none;
	}
}
